{% extends 'layouts/global.html.twig' %}

{% block content %}
<div ng-app="WampiGraphApp">

</div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script data-main="assets/js/config" src="assets/vendor/requirejs/require.js"></script>
{% endblock %}