<accordion close-others="1">
    <accordion-group is-disabled="!patternCreatorPanelVisible" is-open="patternCreatorPanelOpened" >
        <accordion-heading >
            <span ng-class="{'text-muted':!patternCreatorPanelVisible}"> {{status.open}} Créer un motif <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></span>
        </accordion-heading>
        <div class="accordion-content">
            <div class="btn-group-vertical">
                <label class="btn btn-success" ng-click="toolsBar_patternCreatorOK()" >OK</label>
            </div>
        </div>
    </accordion-group>
    <accordion-group >
        <accordion-heading>
            Bibliotheque de motif <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <div class="accordion-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet congue leo. Vivamus vel auctor nulla. Praesent a sollicitudin dolor. Aenean ultricies et elit sit amet accumsan. Integer sodales fermentum congue. Aliquam imperdiet pellentesque urna, vel fermentum sapien consectetur sed. Vestibulum porta ligula lectus, id posuere eros vulputate a. Proin sodales, lorem non consectetur adipiscing, nibh nunc rhoncus lacus, ac eleifend leo purus sit amet ante. Phasellus ac mauris et purus ornare tempus id a felis. Aliquam consectetur sodales arcu, eu consectetur sapien.

            Mauris suscipit semper nisl. Vivamus consectetur dapibus tortor vitae commodo. Curabitur sed libero ac justo sollicitudin mollis. In molestie erat nec condimentum volutpat. Donec aliquet augue ut tristique aliquet. Proin blandit dapibus viverra. Sed porta fringilla sapien eu lobortis.

            Quisque vitae dui odio. Fusce elit ante, molestie nec ipsum et, bibendum tincidunt risus. Aliquam suscipit ligula sed luctus porta. Suspendisse a lobortis ante. In hac habitasse platea dictumst. Nullam dignissim id ipsum ac dignissim. Quisque quam nisl, lobortis vel enim eu, ornare laoreet dui. Nam ornare nibh non orci mollis tincidunt. Quisque commodo dignissim sapien, non cursus ante mollis nec.

            Sed venenatis rutrum orci sed vehicula. Donec urna lorem, tempor ut pharetra at, rutrum ac eros. Phasellus a egestas turpis. Duis at neque porta, tincidunt sem non, ultrices sem. Praesent a nunc commodo, commodo tortor eget, volutpat tortor. Donec suscipit tincidunt velit, non aliquet sapien condimentum quis. Sed hendrerit augue nunc, ut condimentum ligula elementum vitae. Quisque in semper est, ac porta urna. Nunc et est mauris. Donec posuere, justo et accumsan bibendum, metus libero suscipit metus, non feugiat ante lacus eget eros. Proin dictum nibh quis erat gravida, in rutrum tortor tempus. Nam iaculis egestas augue, placerat consectetur sem consectetur eget. Mauris posuere nisl nec tellus mollis mattis. Nullam ullamcorper condimentum ligula, imperdiet sagittis lacus congue faucibus. Nulla eget placerat lacus. Nulla elementum hendrerit lacinia.

            Proin in leo et leo auctor molestie. Vivamus a mauris nec velit convallis feugiat a ut velit. Cras eu augue lacinia, euismod lorem a, porttitor mi. Cras varius tristique aliquam. Sed a cursus purus. Nunc ut urna ultrices, varius mauris sed, pretium elit. Phasellus pulvinar laoreet nulla et pulvinar. Pellentesque aliquam blandit justo a facilisis. Nunc dui mi, tincidunt vitae lacinia id, tristique quis nunc. Vivamus vestibulum augue malesuada dolor posuere dignissim. Sed ut arcu vel quam luctus eleifend. Nam iaculis urna at accumsan ultrices. Curabitur eleifend purus et tellus aliquet suscipit. Aenean viverra porta lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
           </accordion-group>
    <accordion-group >
        <accordion-heading>
            Bibliotheque de wampums <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <div class="accordion-content">
        </div>
    </accordion-group>
</accordion>