<div>
    <form role="form" id="wampumInfos">
        <div class="form-group">
            <label for="wampumInfosTitle">Titre</label>
            <input type="input" class="form-control" id="wampumInfosTitle" placeholder="Mon Wampum" ng-model="infos.title">
        </div>
        <div class="form-group">
            <label for="wampumInfosDescription">Description</label>
            <textarea class="form-control" rows="3" id="wampumInfosDescription" ng-model="infos.description"></textarea>
        </div>
    </form>
</div>