<div>
    <form class="form-inline search-form" role="form" novalidate>
        <div class="form-group">
            <label class="sr-only" for="searchInput">Rechercher</label>
            <input type="text" class="form-control" id="searchInput" ng-model="req.query" placeholder="Rechercher">
        </div>
        <button type="submit" class="btn btn-default icon-search" ng-click="update()"></button>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="req.mineOnly" ng-change="update()" > Mes wampums uniquement
            </label>
        </div>
    </form>
    <div class="scrollable-content" wg-infinite-scroll="loadWampums()">
        <ul class="assets-list wampums-list" >
            <li ng-repeat="asset in assets">
                <a href="#/{{asset.id}}" class="" >{{ asset.title }}</a>
                <a href="#/{{asset.id}}" class="btn btn-primary" tooltip="{{ asset.description }}"><img ng-src="/thumbnail/{{asset.id}}" /></a>
            </li>
        </ul>
    </div>
</div>