{% extends 'layouts/global.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}

{% block content %}

    <form class="form-signin" role="form" action="{{ path('admin_login_check') }}" method="post">
        <h2 class="form-signin-heading">Veuillez vous connecter</h2>
        {{ error }}
        <input type="text"  name="_username" class="form-control" placeholder="Email address" required autofocus>
        <input type="password"  name="_password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">J'y vais</button>
    </form>


{% endblock %}

