
.core{
  padding-top: 51px;
}

.wg-header {
  .icon-cool{
    font-size: 1em;
  }
}
.empty-text{
  font-style: italic;
}
.not-granted{
  display: none;
}
.btn-edit{
  color: #777777;
  cursor: hand;
  font-size: 0.8em;
  padding: 6px 10px;
}
.drawings-list{
  margin: 15px;
  width: 100%;
  .drawing-item{
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    table-layout: fixed;
    .thumbnail{
      display: table-cell;
      width: 400px;
      height: 134px;
      img{
        display: block;
      }
    }
    .infos{
      vertical-align: top;
      display: table-cell;
      margin-left: 15px;
      width: 60%;
      border: 1px solid #dddddd;
      border-radius: 4px;
      padding: 10px;
      background-color: #f8f8f8;
      .author{
        font-style: italic;
        text-align: right;
        &:before{
          content: "~ ";
        }
      }
      .status{
        text-align: right;
      }
    }
    .admin{
      vertical-align: top;
      display: table-cell;
      button{
        margin-bottom: 10px;
      }
    }


  }

}