@import "bootstrap.less";

.container{
  width: 100vw!important;
  height: 100vh;
  background-color: #DCDCDC;
  .core{
    height: 100%;
    .drawing-engine{
    }

    .tools-bar {
      display: inline-block;
      width: 78px;
      vertical-align: top;
      .btn-group-vertical{
        margin: 10px auto 10px auto;
        width: 78px;
      }
    }
  }
}

