@import "imports.less";

.container{
  width: 100vw!important;
  height: 100vh;
  background-color: #DCDCDC;
  .core{
    height: 100%;
    .drawing-engine{
      box-sizing: border-box;
      /*display: inline-block;*/
      padding-left: 88px;
      /*height: 99%;
      width: 99%;

      .drawing-engine-viewport{
        overflow: scroll;
        height: 100%;
        width: 100%;
      }*/

      .v-slide{
        display: inline-block;
      }
      .h-slide{
        display: block;
      }

    }

    .tools-bar {
      position: absolute;
      display: inline-block;
      width: 78px;
      vertical-align: top;
      .btn-group-vertical{
        margin: 10px auto 10px auto;
        width: 78px;
      }
    }
  }
}

.resize-modal{
  .align-box{
    width: 102px;
    margin: auto;
    label{
      width:34px;
      height:34px;
      padding: 6px 6px;
      border-radius: 0;
    }
  }
}

