
@w-height: ~"calc(100vh - 51px)";;

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.core{
  width: 100vw!important;
  height: @w-height;
  background-color: #DCDCDC;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-top: 51px;
  box-sizing: content-box;
  .painter{
    height: 100%;
    .drawing-engine{
      box-sizing: border-box;
      display: inline-block;
      background: #282828;
      .h-slide{
        display: block;
        height: 20px;
        background: #424242;
        margin-top: -5px;
        .slide{
          background: none;
          border: none;
          margin-left: 40px;
        }
        .ui-slider-handle{
          width: 40px;
          height: 20px;
          top:0;
          margin: 0 0 0 -40px;
          background: #828282;
          border: none;
        }
        .ui-state-focus{
          border: none;
        }
        a:focus{
          outline: none;
        }
      }

      .v-slide{
        display: inline-block;
        width: 20px;
        background: #424242;
        .slide{
          background: none;
          border: none;
          margin-top: 40px;
          box-sizing: border-box;
        }
        .ui-slider-handle{
          width: 20px;
          height: 40px;
          left:0;
          margin: -40px 0 0 0;
          background: #828282;
          border: none;
        }
        .ui-state-focus{
          border: none;
        }
        a:focus{
          outline: none;
        }
      }

    }

    .tools-bar {
      display: inline-block;
      width: 78px;
      height: @w-height;
      vertical-align: top;
      background: #464646;
      padding: 5px;
      box-sizing: content-box;
      .btn-group-vertical{
        margin: 10px auto 10px auto;
        width: 78px;
      }
    }
    .panels{
      vertical-align: top;
      display: inline-block;
      width: 240px;
      height: @w-height;
      background: #464646;
      padding: 5px;
      box-sizing: content-box;
      .panel-body{
        padding: 0px;
        .accordion-content{
          height: 600px;
          height: ~"calc(100vh - 230px)";
          padding: 15px;
          overflow: auto;
        }
      }

    }
  }
}

.resize-modal{
  .align-box{
    width: 102px;
    margin: auto;
    label{
      width:34px;
      height:34px;
      padding: 6px 6px;
      border-radius: 0;
    }
  }
}

