
@wg-w-height: ~"calc(100vh - 51px)";
@wg-w-height-unless-footer: ~"calc(100vh - 93px)";
@wg-fg-color: #357ebd;
@wg-bg-color: #dddddd;

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.core{
  width: 100vw!important;
  height: @wg-w-height;
  background-color: #DCDCDC;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-top: 51px;
  box-sizing: content-box;
  position: relative;
  color: @wg-fg-color;
  a{
    color: @wg-fg-color;
  }
  .alert-container{
    position: absolute;
    z-index: 10000;
    width: 100vw;
    .alert{
      width: 400px;
      margin: 10px auto 0 auto;
    }
  }

  .painter{
    height: 100%;
    .drawing-engine{
      box-sizing: border-box;
      display: inline-block;
      background: #282828;
      .h-slide{
        display: block;
        height: 20px;
        background: @wg-bg-color;
        margin-top: -5px;
        .slide{
          background: none;
          border: none;
          margin-left: 40px;
        }
        .ui-slider-handle{
          width: 40px;
          height: 20px;
          top:0;
          margin: 0 0 0 -40px;
          background: #828282;
          border: none;
        }
        .ui-state-focus{
          border: none;
        }
        a:focus{
          outline: none;
        }
      }

      .v-slide{
        display: inline-block;
        width: 20px;
        background: @wg-bg-color;
        .slide{
          background: none;
          border: none;
          margin-top: 40px;
          box-sizing: border-box;
        }
        .ui-slider-handle{
          width: 20px;
          height: 40px;
          left:0;
          margin: -40px 0 0 0;
          background: #828282;
          border: none;
        }
        .ui-state-focus{
          border: none;
        }
        a:focus{
          outline: none;
        }
      }

    }

    .tools-bar {
      display: inline-block;
      width: 78px;
      height: @wg-w-height-unless-footer;
      vertical-align: top;
      background: @wg-bg-color;
      padding: 5px;
      box-sizing: content-box;
      .btn-group-vertical{
        margin: 10px auto 10px auto;
        width: 78px;
      }
    }
    .panels{
      vertical-align: top;
      display: inline-block;
      width: 240px;
      height: @wg-w-height-unless-footer;
      background: @wg-bg-color;
      padding: 5px;
      box-sizing: content-box;
      .panel-body{
        padding: 0px;
        .accordion-content{
          height: 600px;
          height: ~"calc(100vh - 290px)";
          padding: 15px 0px 15px 15px;
          /*overflow: auto;*/
        }
      }

      .edit{
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid @wg-fg-color;
        border-radius: 4px;
        display: inline-block;
        .icon-pencil{
          font-size: 1em;
        }
        &:hover{
          .icon-pencil{
            text-decoration: none;
          }
          text-decoration: none;
          background-color: @wg-fg-color;
          color: #ffffff;
        }

      }

      .assets-list-container{
        overflow: auto;
        .assets-list{

          .btn-primary{
            display: block;
            height: 62px;
            border-radius: 2px;

            background-color: #ffffff;
            padding: 2px;
            margin: 1px;
            border: 2px solid @wg-fg-color;
            &.active{
              border: 2px solid #4cae4c;

            }
            &:focus{
              box-shadow: none!important;
              border-color: none!important;
              box-shadow: none!important;
              -webkit-box-shadow: none!important;
              outline: 0!important;
            }
          }
          &.wampums-list{
            width: 170px;
            margin: auto;
            list-style: none;
            padding: 0;
          }
        }
      }

      .patterns-list{
        .assets-list-container{
          //height: ~"calc(100% - 60px)";
          min-height: 100%;
          height: 100%;
        }
      }

      .wampums-list{
        .assets-list-container{
          height: ~"calc(100%)";
        }
      }
    }

    .footer{
      width: 100vw;
      height: 32px;
      background: #464646;
      text-align: center;
      color: #ffffff;;
      line-height: 32px;
      a{
        color: #ffffff;
      }
    }
  }
}

.resize-modal{
  .align-box{
    width: 102px;
    margin: auto;
    label{
      width:34px;
      height:34px;
      padding: 6px 6px;
      border-radius: 0;
    }
  }
}

