{% extends 'layouts/base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="assets/css/global.css">
{% endblock %}

{% block main %}
    {% block header %}

    {% endblock %}
    <div class="container" {% block container_attrs %}{% endblock %}>{% block content %}{% endblock %}</div>


    {% block footer %}

    {% endblock %}

{% endblock %}

{% block popups %}
{% endblock %}

{% block js %}
	{{ parent() }}


{% endblock %}
